@charset "utf-8";
/*css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;box-sizing: border-box; }html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both;}
html { font-family: 'Noto Sans KR', Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body {margin:0;font-size: 1.4rem;overflow-x: hidden;min-width:320px; /*-webkit-overflow-scrolling: touch;*/color:#1a1a1a;background:#f9f9f9; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: inherit; box-sizing: border-box;  }
a:active { outline: 0; }
a:active { color: #3990e6; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }svg:not(:root) { overflow: hidden; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }code, kbd, pre, samp { font-family: monospace; font-size: 1rem}mark { background: #ff0; color: #1a1a1a; }dfn { font-style: italic; }
table { border-collapse: collapse; border-spacing: 0; }td, th { padding: 0; }
ul, ol { list-style: none outside none; }

img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic; max-width:100%;}

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; resize: vertical; }
button, input, select, textarea { font-family:'Microsoft YaHei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
table { border-collapse: collapse; border-spacing: 0;}

caption {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
.blind { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; *visibility: hidden; }


@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Thin.woff) format('woff'),
    url(../fonts/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Light.woff) format('woff'),
    url(../fonts/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
    src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Black.woff) format('woff'),
    url(../fonts/NotoSansKR-Black.otf) format('opentype');}


@font-face {font-family: '국민체조';font-style: normal;font-weight: lighter;
    src: url(../fonts/210-kookminL.woff) format('woff'),
    url(../fonts/210-kookminL.otf) format('opentype');}

@font-face {font-family: '국민체조';font-style: normal;font-weight: bolder;
    src: url(../fonts/210-kookminB.woff) format('woff'),
    url(../fonts/210-kookminB.otf) format('opentype');}

@font-face {font-family: '옴니고딕';font-style: normal;font-weight: 300;
    src: url(../fonts/210-omnigothic-030.woff) format('woff'),
    url(../fonts/210-omnigothic-030.otf) format('opentype');}


/*commons*/
.border_box{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.fl{float:left;}.fr{float:right;}.hide{display:none!important;}.show{display: block!important;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
.clearfix:after{content:'\0020';display:block;height:0;clear:both}.clearfix{*zoom:1}

/*noScript*/
.noScript{margin:10px;text-align:center;background:#adb9c4;color:#fff;display:block; height:40px;line-height:40px}


#head {position:relative;
    height:150px;text-align:center;
    h1 {width:1220px;margin:0 auto;line-height: 150px;
        font-size: 62px; color:#56ceff; font-family: '옴니고딕', sans-serif; cursor: pointer;
    }
    &.sub {box-shadow: 0px 11px 29px 0 rgba(0, 0, 0, 0.22);}
}

.main_vis {position: relative; height:467px; padding-top: 140px; box-sizing: border-box;
    background: url(../images/bnr_vis_cms.jpg) no-repeat center/cover;
    .main_vis_txt {max-width:797px; margin: 0 auto;}
}

#cont_main {
    max-width:1903px; margin: 0 auto;

    .wrap_product {width:1250px;margin:0 auto;
        h2 {display:block;margin:35px 0 62px; font-weight: 500;font-size:24.5px;letter-spacing:-0.61px;border-bottom:1px solid #dcdcdc}
    }
    .list_product { width:1250px;margin-bottom:80px; overflow: hidden;
        li {position: relative; margin:15px; max-width:595px; width:calc(50% - 30px);  height:101%;
        float: left; border: 1px solid #dcdcdc;}
        // li:nth-child(1), li:nth-child(3)  {float:left;}
        // li:nth-child(1), li:nth-child(3)  {margin-right:30px;}
        // li:nth-child(3), li:nth-child(4) {margin-top:30px;}

        h3 {padding: 21px 22px 0;
            font-family: '국민체조', sans-serif; font-weight: bolder;
            color:#00baff; font-size: 37px;}

        .badge_best {display: block; width:50px; height:65px; 
            position: absolute; right:15px; top:0;
            background: url(../images/badge1.png) no-repeat 0 0;}
        .badge2 {display: block; width:50px; height:65px; 
            position: absolute; right:15px; top:0;
            background: url(../images/badge2.png) no-repeat 0 0;
        }
        img {display: block; margin: 56px auto 20px;}

        .product_cont {padding: 0 24px 32px;
            .pro_name {font-weight:700; color:#1a1a1a; letter-spacing: -0.5px; font-size: 20px;}
            .pro_price {margin-top: 9px; margin-bottom: 18px;
            font-size: 20px; letter-spacing: -0.5px; font-weight: 700; color:#ae0000;
                .krwon_txt {font-size: 16px; letter-spacing: -0.4px; font-weight: 300;}
            }
            .pro_intro {font-size: 16px; line-height: 1.48; color:#1a1a1a}
        }

        .warning { height:68.8%;
            h3 {color:#c43232; letter-spacing: -0.93px; padding-top:21px;
            }
            .warning_message {padding: 21px 25px 20px;
                font-size: 20px; font-weight: 500; line-height: 1.8; letter-spacing: -0.5px; color:#1a1a1a;
                strong {color:#c43232}
            }
            img {margin-top: 0; margin-bottom: 30px}
        }
        
        .cscenter { height:68.8%;
            background: url(../images/img_product4.png) no-repeat 0 0/cover;

            .working {
                padding: 81px 33px 146px;
                .tit {padding-bottom: 24px; font-weight: 500; font-size:28px; letter-spacing: -0.7px;}
                .hour_txt {padding-bottom: 32px; font-size:16px; line-height: 1.3;}
                .center_nbr {font-family:'roboto',sans-serif; font-weight: 900; letter-spacing: -1.34px; color:#c43232; font-size: 54px;}
                
            }
        }  
    }  
}
#cont {color: #1a1a1a;
    &.cont_form {background:#eee}
    &.order_complete {padding:117px 0 144px;}
    .wrap_cms_info {width:1220px;margin:50px auto 0;}
    .total_info {display:flex;
        .txt_info h2 {padding-bottom:6px;font-size: 28.5px;border-bottom:1px solid #dcdcdc;font-weight: bold;letter-spacing: -0.71px;}
        .price {margin:18px 0 17px;font-size: 24.5px;font-weight: 300;letter-spacing: -0.61px;
            .number {font-size: 28.5px; font-weight: bold;letter-spacing: -0.71px; color: #ae0000;}
        }
        .txt {padding-bottom:17px;line-height:1.8; border-bottom:1px solid #dcdcdc;
            h3 {font-size:18px;font-weight:normal}
            p {font-size:15px}
        }
        .notice_caution {margin-top:27px;line-height:1.8;
            h3 {font-size:18px;font-weight:normal}
            p {font-size:15px}        
            strong {color:#ae0000}
        }
      
    }
    .wrap_btn_area {display:flex;margin-bottom:20px;
      .btn {display:inline-block;width:595px;height:80px;margin-right:30px;font-size:30px;font-weight: bold;line-height:80px;letter-spacing: -0.75px;text-align:center;}
      .btn_view {color:#5a90b9;border:2px solid #5a90b9}
      .btn_buy {color:#fff;background:#5a90b9}
    }
    .box_preview {width:100%;padding-bottom:54px;background:#eeeeee;
        .inner {width:1220px;margin:0 auto;}
        h2 {font-size: 28.5px;;padding:33px 0 54px;}
        .product_name {color:#5a90b9}
    }
    .wrap_cms_use {width:1220px;margin:0 auto;line-height:1.8;
        h2 {padding:27px 0 34px;font-size: 28.5px; font-weight: bold;letter-spacing: -0.71px;
            .name { color: #5a90b9;}
        }
         h3 {font-size:18px;font-weight:normal}
         p, li {font-size:15px}  
         ol {margin-bottom:55px;}
         .box_csmuse_table {display:flex;}
         table {margin-top:8px;}
         th, td {height:40px;font-size:14px;font-weight:normal;border-top:1px solid #b4b4b5;border-bottom:1px solid #b4b4b5;}
        th {width:180px;text-align:center;background:#e7e7e7;}
        td {width:460px;padding-left:15px;}
        .btn_buy {display:block;width:595px;height:80px;margin:86px auto 61px;color:#fff;background:#5a90b9;font-size:30px;font-weight: bold;line-height:80px;letter-spacing: -0.75px;text-align:center;}

    }
    .wrap_form_agree {width:960px;margin:0 auto;padding:0 27px;background:#fff;
        h2 {padding:29px 0 23px;font-size: 28.5px;font-weight: normal;letter-spacing: -0.71px;}
        .all_agree, .list_yakwan, .list_certi, .txt_contact, .btn_sign, .btn__payment {margin-left:103px;}
        .btn {width:130px;height:34px;margin-left:auto;margin-right:101px;color:#fff;line-height:34px; font-size: 16.5px;text-align:center;cursor: pointer;}

        .box_agree {border-bottom:1px solid #dcdcdc;padding-top:16px;
            input[type=checkbox] {width: 20px;height: 20px;margin-right:5px;}
            input[type=checkbox], label {vertical-align:middle;}
        }
        .all_agree {margin-bottom:25px;
            label {font-size: 24.5px; letter-spacing: -0.61px;}    
        }
        .list_yakwan  {padding-bottom:5px;
            li {display:flex;width:100%;margin-bottom:16px;align-items: center;
                .box_doc {
                    label {font-size: 16.5px;}           
                }
                .btn {background:#aaa;}
            }
        }
        .wrap_certi {font-size: 16.5px;padding-bottom:4px;border-bottom:1px solid #dcdcdc;
            .list_certi li {display:flex;align-items:center;margin-bottom:24px;}
            .mark {margin-right:11px; font-size: 24px;color:#ff0000;vertical-align:middle;}
            label {display:inline-block;width:125px;margin-right:11px;
                &.on {
                    .mark {display:none;}
                    padding-left:28px;
                    background:url('../images/ico_check.png') no-repeat left center;
                }
            }
            input[type=text] {width:330px;padding-bottom:5px;border:none;border-bottom:1px solid #dcdcdc}
            .btn {background:#464646;}
        }
        .contact {border-bottom:1px solid #dcdcdc;
            .txt_contact {font-size: 16.5px;line-height: 1.73;}            
        }
        .btn_sign, .btn_payment {display:block;width: 640px;height: 80px;line-height:80px;color:#fff; font-size: 30px;font-weight: bold;text-align:center;}
        .btn_sign {margin:13px 103px 29px;background-color: #b95a5a;}
        .btn_sign.complete {color:#b95a5a;background-color: #dddddd;}
        .btn_payment {margin:0 103px;background-color: #5a90b9;
            &.dis {background:#ddd;}
        }
        .box_payment {padding:70px 0 82px;}
    }
    .wrap_order_complete {position:relative;width: 960px;height: 587px;margin:0 auto;padding:0 30px;background:#fff;
        .btn_down_contact {position:absolute;top:20px;left:20px;width: 130px;height: 34px;padding-left:8px;line-height:34px;font-size: 12.5px;color: #ffffff; 
            cursor:pointer;background: url('../images/ico_down_contact.png') no-repeat #aaa 108px center;
        }
        .txt1 {padding:85px 0 21px;font-size: 49px;letter-spacing: -1.23px;text-align: center;
            strong {color:#d60000;}
        }
        .txt2 {margin-bottom:65px;font-size: 24.5px;line-height: 1.51; letter-spacing: -0.61px;text-align: center;}
        .info {display:flex;}
        dt {font-size: 24px;line-height: 1.5;color: #4d4d4d;}
        th, td {height:50px;font-size:18px;font-weight:normal;border-top:1px solid #b4b4b5;border-bottom:1px solid #b4b4b5;}
        dl:nth-child(2) table {
           tr:nth-child(1) th, tr:nth-child(1) td {border-bottom:0 none;}
           tr:nth-child(2) th, tr:nth-child(2) td {border-top:0 none;}
        }
        th {width:180px;text-align:center;background:#e7e7e7;}
        td {width:270px;padding-left:15px;}
        .price_info th, .price_info td {font-size: 24px; font-weight: 500;color:#d60000}
        .btn_confirm {display: block; width: 640px;height: 80px;line-height:80px;margin:47px auto 0;font-size: 30px;  font-weight: bold;text-align: center;  color: #ffffff; background-color: #464646;}
    }
   
    
}

#footer {
    height:200px;padding-top:15px;background:#444;
    .inner {width:1220px;margin:0 auto;}
    .list_yakwan {display:flex;width:520px;margin:0 auto 25px;
        li {width:33.3%;border-right:1px solid #c3c3c3;line-height:12px; text-align: center;

            a {font-size:12px;  color: #c3c3c3;}
        }
        li:nth-child(2) {width:33.4%;}
        li:nth-child(3) {border-right:none;}
    }
    .info {
        margin:0 0 30px; 
        font-size: 12px; line-height: 1;letter-spacing: -0.3px;  color: #c3c3c3; 
        li {padding-bottom: 8px;
            &:last-child {padding-bottom: 0;}}
    }
    .copyright {font-size:12px;color:#bbc3c3;text-align:center; font-weight:300}

}

/* 팝업 */
.pop_cms {width:960px;
    .head {position:relative;height:80px;line-height:80px;text-align:center;border-bottom:1px solid #4d4d4d; font-size: 24px;
        .btn_close {
        position: absolute;top: 10px;right: 10px;width:20px;height:20px;background:url('../images/btn_pop_close.png') no-repeat left top;
        cursor: pointer;
        }
    }
    .cont {overflow-y:auto;height:682px;
        padding:17px 30px 15px;
        border-bottom:1px solid #4d4d4d;
        line-height:1.4;
    }
    &.type2 {
        .cont {height:422px;}
    }
    .bottom {
        display:flex;
        height:219px;padding:20px 30px 30px;background:#d8edf1;
        .clearButton {width:130px; height:32px; line-height: 32px; text-align: center; margin-top: 10px; color:#fff; font-size: 16px; background: #aaa;}
        .pad {display:block;
             width: 672px;height: 127px;background:#fff;
        }
        .btn_save {
            display:block;
            width: 199px; height: 169px;margin-left:30px;font-size: 37px;line-height:169px;
            text-align:center;color:#fff;cursor:pointer;
            background-color: #5a90b9;
        }
    }
}

.pop_mask { display:none;width:100vw;height:100vh;position:fixed;top:0;left:0;background:#000;opacity:0.5;}
.pop_cms {position:fixed;top:50%;left:50%;transform: translate(-50%,-50%);z-index:100;background:#fff;}
.wrap_pop {
  display:none;
  width: 380px;
  height: 205px;
  background:#f7f7f7;
  position:fixed;top:50%;left:50%;margin:-125px 0 0 -125px;z-index:100;
  .btn_area {margin-top:24px;text-align:center;}
  .btn {display:inline-block;width:130px;height:34px;line-height:34px;text-align:center;font-size: 16.5px; color: #ffffff;background:#444;}
  &.sign1 {padding:23px 0 0;
    p {text-align:center;}
    .txt1 {font-size: 24px;}
    .txt2 {font-size: 18px;margin-top:2px;}
    .btn_yes {background:#ba5a5a;margin-right:17px;}
    .btn_no {background:#abacac;}
  }
  &.sign2, &.sign3 {
    p {margin:15px 0 20px;padding-top:57px;font-size: 18px;text-align:center;}
}
    
  &.sign2 {
     p {background:url('../images/wrap_pop_sign2.png') no-repeat center top; background-size:48px 48px;}
     
  }
  &.sign3 {
      p { background:url('../images/wrap_pop_sign3.png') no-repeat center top; background-size:48px 48px;}
  }
}

@media (max-width: 1249px) {
    #head, #cont_main, #head h1, 
     .wrap_cms_info, .box_preview  .inner, 
     .wrap_cms_use, #footer .inner, .main_vis img, 
     #footer .list_yakwan {width:100% !important;}
     #cont_main .list_product li {//margin:0 !important;
        img {max-width:100%;}
     }

     #head {height:100px;
        h1 {line-height:100px; font-size: 40px;
            img {height:38px}
        }
    }
    .main_vis {
        height:280px; padding-top: 0;
        
        .main_vis_txt {position: absolute; left:50%; top:50%; margin-top: -100px; margin-left:-383px}
    }

    #cont_main .wrap_product {
        width:calc(100% - 30px); margin: 0 auto;

        h2 {width:90%; margin:23px auto 20px;font-size:20px;}
    }

   
    #cont_main .list_product {
        width:90%;margin:0 auto 50px;

        h3 {font-size: 18px;}
        .warning {height:290px;
            .warning_message {font-size:16px;}
            img {width:31%;}
        }

        .cscenter {height:290px;
            .working .tit {font-size: 20px;}
            .hour_txt {font-size: 14px;}
            .working .center_nbr  {font-size: 30px;}
        }

        .product_cont {
            .pro_name, .pro_price {font-size: 16px;}
            .pro_intro {font-size: 14px;}
        }
    }


    #cont .wrap_cms_info {margin-top:17px;}
    #cont .txt_info {width:90%;margin:0 auto;}
    #cont .total_info {display:block;
        img {width:100%}
    }
    #cont .wrap_btn_area .btn {width:50%;height:40px;}
    .img_preview img {width:100%}
    #cont .wrap_cms_use .btn_buy {width:100%;height:40px;}
    #cont .total_info .txt_info h2 {font-size:18px;}
    #cont .total_info .price {margin:6px 0;font-size:16px;
        .number {font-size:18px;}
    }
    #cont .total_info .txt h3 {font-size:14px;}
    #cont .total_info .txt p {font-size:12px;
        br {display:none;}
    }
    #cont .total_info .notice_caution {
        margin-top:9px;
        h3 {font-size:14px;}
        li {font-size:12px;}
    }
    #cont .wrap_btn_area {width:90%;margin:20px auto;
        li {width:calc(50% - 10px);
            .btn {width:100%;font-size:18px;line-height:40px;}
        }
        li:nth-child(1) {margin-right:10px;}
        li:nth-child(2) {margin-left:10px;}
    }
    #cont .box_preview {padding-bottom:18px;
        h2 {padding:11px 0 18px;font-size:16px;text-align:center;}
        .img_preview {width:90%;margin:0 auto;}
    }
    #cont .wrap_cms_use {
        width:90% !important;margin:0 auto;
        h2 {padding:9px 0 11px;font-size:18px;}
        h3 {font-size:14px;}
        ol {margin-bottom:18px;}
        li {font-size:12px;}
        .box_csmuse_table {display:block;}
        th, td {font-size:12px;}
        .btn_buy {margin:29px auto 20px;font-size: 18px;
    line-height: 40px;}
    }
    #cont .wrap_form_agree {
        width:100%;padding:0 9px;
    }
    #cont .wrap_form_agree .btn_sign, #cont .wrap_form_agree .btn_payment {width:210px;}
    #cont .wrap_form_agree .all_agree, #cont .wrap_form_agree .list_yakwan, #cont .wrap_form_agree 
    .list_certi, #cont .wrap_form_agree .txt_contact, #cont .wrap_form_agree .btn_sign, #cont .wrap_form_agree .btn__payment
    {margin-left:0;}
    #cont .wrap_form_agree h2 {padding:15px 0 13px;font-size:18px;}
    #cont .wrap_form_agree .box_agree {padding-top:8px;}
    #cont .wrap_form_agree .box_agree input[type=checkbox] {width:14px;height:14px;}
    #cont .wrap_form_agree .all_agree, #cont .wrap_form_agree .list_yakwan li {margin-bottom:15px;}
    #cont .wrap_form_agree .all_agree label, #cont .wrap_form_agree .list_yakwan li .box_doc label {font-size:16px;}
    #cont .wrap_form_agree .btn {width:auto;height:23px;padding:0 3px;line-height:23px;font-size:14px;margin-right:0;}
    #cont .wrap_form_agree .all_agree, .list_yakwan {padding:0 10px;}
    #cont .wrap_form_agree .wrap_certi .list_certi  {padding:0 10px;
        li {overflow:hidden;display:block;}
        .mark {margin-right:5px;}
        label {display:block;margin-bottom:5px;font-size:16px;}
        input {float:left;width:calc(100% - 110px);margin-right:6px;font-size:14px;}
        .btn  {float:right;display:inline-block;width:87px;}
    }
    #cont .wrap_form_agree .contact .txt_contact {font-size:14px;}
    #cont .wrap_form_agree .btn_sign, #cont .wrap_form_agree .btn_payment {height:40px;line-height:40px;font-size: 18px;margin: 13px auto 29px;}
    #cont .wrap_form_agree .box_payment {padding:23px 0 27px;}
    #cont.order_complete {padding:0}
    #cont .wrap_order_complete {width:100%;height:auto;padding:0 0 10px;
        
        .btn_confirm {width:auto;}
        .info {display:block;}
        .txt1 {font-size:24px;}
        .txt2 {font-size:14px;margin-bottom:22px;}
        .wrap_tbl {width:90%;margin:0 auto;}
        dl:nth-child(2) {margin-top:15px;}
         dt {font-size:16px;margin-bottom:3px;}
         table {width:100%;}
         th, td {height:30px;font-size:14px;}
         .price_info th, .price_info td  {height:30px;font-size:18px;}
         .btn_confirm {height:40px; margin: 29px auto; font-size: 18px;line-height:40px;}
    }

   #footer .info {margin:0 0 30px 10px;}

   .pop_cms {width:100%;top: 0%;left:0;transform:none;
        .head {height:40px;line-height:40px;}
        .cont {height:100vh;padding:9px 15px 8px;}
        .bottom {height:178px;padding:10px;   
            .clearButton {margin-top: 5px;}         
            .pad {width:calc(80vw - 10px);height:112px;}
            .btn_save {width:20%;height:150px; line-height: 150px; margin-left:10px;}
        }
    }
    .pop_cms.type2 .cont {height:calc(100vh - 218px);
    
    }
}

@media (max-width:720px) {
    #head {height:50px;
        h1 {line-height:50px; font-size: 26px;
            img {height:19px}
        }
    }

    .main_vis {
        height:154px;        
        .main_vis_txt {position: relative; left:0; top:0; margin: 0 auto; width:90%; padding-top: 10px;}
    }

    #cont_main .list_product {
        margin:0 auto 30px; 
        li {float: none; width:100%; margin: 0 0 30px;}

        .warning {height:auto;}
    }

    .pop_cms .head {font-size: 16px;}
    .pop_cms .bottom {
        .pad { width:calc(100vw - 25px); }
        .clearButton {margin-top: 10px;}
        .btn_save {
            width:calc(100% - 166px); height:32px; line-height: 32px;
            position: absolute; right:15px; bottom:13px; font-size: 20px;}
    }
    
}